.content{
    margin: 20px 20px 20px 20px;
}


/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px 0;
  }

  /* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

  /* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

.inputs{
    width: fit-content;
}

.name{
    width: 50%;
}

.text{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
}

.signature{
    color: #555;
    font-size: smaller;
}